@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "pokemon";
  src: url("fontes/Pokemon\ Classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --cor0: #837b9c;
  --cor1: #ebe073;
  --cor3: #9e942e;
  --cor4: #e3d6ca;
  --cor5: #422300;
  --fonte-padrao: "PT Sans";
  --fonte-destaque: "pokemon", sans-serif;
  --min-width: 280px;
  --max-width: 350px;
  --max-width-g: 800px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor0);
}

header {
  background-color: var(--cor3);
  font-family: var(--fonte-destaque);
  font-size: 0.8em;
  text-align: center;
  padding: 25px;
  min-height: 150px;
  max-height: 500px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
}

header > h1 {
  background-color: var(--cor1);
  min-width: var(--min-width);
  max-width: var(--max-width);
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

header > p {
  padding: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

nav {
  font-family: var(--fonte-destaque);
  font-size: 0.6em;
  text-align: center;
  font-weight: bold;
  margin-top: -70px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  min-height: 15px;
  max-height: 50px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

nav > a {
  background-color: var(--cor1);
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
}

nav > a:hover {
  background-color: var(--cor0);
  border: 1px solid black;
  transition-duration: 2s;
}

main {
  background-color: white;
  min-width: var(--min-width);
  max-width: var(--max-width-g);
  margin: auto;
  text-align: center;
  font-family: var(--fonte-padrao);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
}

article h1 {
  padding: 20px;
  font-size: 2.3em;
  background-color: var(--cor1);
  width: 200px;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

article > p.type {
  font-size: 1.4em;
  font-weight: bold;
  width: 250px;
  padding-top: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

article > p.desc {
  background-color: var(--cor1);
  font-size: 1.4em;
  font-weight: lighter;
  text-align: justify;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
  max-width: 750px;
  margin: auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

article aside {
  padding: 100px;
}

article > aside > p {
  font-size: 1.4em;
  font-weight: lighter;
  padding: 15px;

  margin: auto;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

aside img {
  border-radius: 25%;
  background-color: var(--cor1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
}

footer {
  background-color: var(--cor3);
  font-family: var(--fonte-padrao);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: white;
}
