/* Paleta de Cores
 #F2B077 - marrom claro
 #CEE1F2 - azul gelo
  #8C6746 - marrom  
*/

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,500&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body, html {
  background-color: #00000088;
  background-image: url(../imagens/background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.title {
  margin: 50px 0px;
}

.title > h1 {
  font-family: montserrat;
  color: rgb(120, 153, 184);
  text-align: center;
  font-size: 2.1em;
  font-style: italic;
  text-shadow: 1px 1px 1px black;
}

.title > p {
  font-family: ubuntu;
  color: rgb(120, 153, 184);
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  padding-top: 10px;
  text-shadow: 1px 1px 1px black;
}

.forms {
  background-color: #57402ce7;
  margin: auto;
  min-width: 360px;
  max-width: 768px;
  border: 1px transparent black;
  border-radius: 5px;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 1px #2c2117;
}

.base > label, .role > p, .favorite > p, .comment > label, .recommend > p, .improved > p {
  display: block;
  margin: auto;
  width: 340px;
  font-family: ubuntu;
  font-size: 1.1em;
  font-weight: 400;
  color: white;
  padding-top: 45px;
  padding-bottom: 3px;
}

.base > input, .role > select, .favorite > select {
  margin: auto;
  display: flex;
  width: 330px;
  height: 25px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  font-family: ubuntu;
  font-size: 0.9em;
  color: gray;
  box-shadow: 1px 1px 1px #2c2117;
}

.role > select, .favorite > select {
  width: 340px;
  height: 40px;
}

.recommend, .improved {
  margin: auto;
  width: 340px;
  line-height: 40px;
}

.recommend > input, .improved > input {
  cursor: pointer;
}

.recommend > label, .improved > label {
  font-family: ubuntu;
  font-size: 1.1em;
  font-weight: 400;
  color: white;
  margin: auto;
  align-items: center;
  cursor: pointer;
}

.comment > textarea {
  display: block;
  margin: auto;
  width: 330px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  text-indent: 3%;
  font-family: ubuntu;
  font-size: 1.1em;
  color: gray;
  box-shadow: 1px 1px 1px #2c2117;
}

.submit > input {
  display: block;
  background-color: rgb(120, 153, 184);
  margin: auto;
  min-width: 340px;
  height: 44px;
  margin-top: 30px;
  
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  font-family: ubuntu;
  font-size: 1.1em;
  font-style: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 1px #2c2117;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .forms {
    max-width: 750px;
  }

  .base > label, .role > p, .favorite > p, .comment > label, .recommend > p, .improved > p {
    width: 675px;
  }

  .base > input, .role > select, .favorite > select {
    width: 665px;
  }

  .role > select, .favorite > select {
    width: 675px;
  }

  .recommend, .improved {
    width: 675px;
  }

  .comment > textarea {
    width: 665px;
  }

  .submit > input {
    width: 675px;
  }
}